name: Publish book

on:
  workflow_dispatch:
  push:
    branches:
      - "release"

permissions:
  contents: read
  packages: write
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: true

jobs:
  build-docker:
    uses: ./.github/workflows/publish_docker.yml

  run-tests:
    uses: ./.github/workflows/test_stable.yml

  build-book:
    uses: ./.github/workflows/book_stable.yml

  deploy:
    runs-on: ubuntu-22.04
    needs: [build-book, run-tests]
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Pages
        uses: actions/configure-pages@v4

      - name: Download docs artifact
        uses: actions/download-artifact@v4
        with:
          name: webpage
          path: "./public"

      - name: Upload page artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: "./public"

      - name: Deploy coverage report to GH Pages
        id: deployment
        uses: actions/deploy-pages@v4
